{% extends 'app.html' %}
{% block content %}
<section class="greeting">
    <div class="container">
        {% if messages %}
        <ul class="messages mt-5">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }} message-item"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="grid4 mt-5">
            {% for category in categories %}
            <a href="{% url 'ideas:ilist' category.id %}">
                <div class="icon-box">
                    <div class="icon-box__icon">
                        <i class="{{category.ficon}}"></i>
                    </div>
                    <h4 class="icon-box__title">{{category.name}}</h4>
                </div>
            </a>
            
            {% endfor %}
        </div>
    </div>
</section>

<section class="main-slider">
    <div class="container">
        <div class="swiper-container mt-5">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              {% for lastidea in lastideas %}
              <div class="swiper-slide">
                <div class="main-slide">
                    <div class="main-slide__text">
                        <a class="main-slide__link info-btn" href="">{{lastidea.category.name}}</a>
                        <h1 class="main-slide__title"><a href="{% url 'ideas:idetail' lastidea.id %}">{{lastidea.title}}</a></h1>
                        <h3 class="main-slide__description">Nec ego a vidit Lorem  markdownum Ilion. Naides ferox vocantem, Iuno artes patrios tamen,
                            spicea…</h3>
                    </div>
                    <div class="main-slide__img">
                        <img src="{{lastidea.photo.first.photo.url}}" alt="">
                    </div>
                </div>
              </div>
              {% endfor %}              
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
            
          </div>
    </div>
</section>



<section class="mb-5">
    <div class="container">
        <div class="grid3 mt-5">
            {% for lastidea in lastideas %}
            <div class="horizontal-box">
                <div class="horizontal-box__img">
                    <img src="{{lastidea.photo.first.photo.url}}" alt="">
                </div>
                <div class="horizontal-box__text">
                    <h4><a href="{% url 'ideas:idetail' lastidea.id %}">{{lastidea.title}}</a></h4>
                  
                    <div class="horizontal-box__footer">
                        <h6><a href="">{{lastidea.author.username}}</a></h6>
                        <time>{{lastidea.created_at}}</time>
                        <span>
                            <i class="fas fa-street-view"></i>
                            <span>{{lastidea.time}} минут назад</span>
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<div class="content-page">
    <div class="container">
        <h2 class="h2-title mt-5 mb-5">
            Editors pack
        </h2>
        <section class="grid3">
            <div class="vertical-box">    
                <div class="vertical-box__text">
                    <a class="info-btn"><span>Space</span></a>
                    <h3>Mercury’s 400 C Heat May Help It Make Its Own Ice</h3>
                    <p>Lorem markdownum transitque nondum, Peliaeque at poterat exegit, urbis quo;
                        tibi. Cursus mecum adit…</p>
                    <div class="vertical-box__footer">
                        <a href=""><img class="vertical-box__footer-img" src="./img/indus.png" alt=""></a>
                        <div class="vertical-box__footer-text">
                            <a class="vertical-box__footer-author" href="">John Doe</a>
                            <div class="vertical-box__footer-time">
                                <time>May 16,2020</time>
                                <span>
                                    <i class="fab fa-vk"></i>
                                    <span>1 min</span>
                                </span>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="vertical-box">    
                <div class="vertical-box__text">
                    <a class="info-btn"><span>Space</span></a>
                    <h3>Mercury’s 400 C Heat May Help It Make Its Own Ice</h3>
                    <p>Lorem markdownum transitque nondum, Peliaeque at poterat exegit, urbis quo;
                        tibi. Cursus mecum adit…</p>
                    <div class="vertical-box__footer">
                        <a href=""><img class="vertical-box__footer-img" src="./img/indus.png" alt=""></a>
                        <div class="vertical-box__footer-text">
                            <a class="vertical-box__footer-author" href="">John Doe</a>
                            <div class="vertical-box__footer-time">
                                <time>May 16,2020</time>
                                <span>
                                    <i class="fab fa-vk"></i>
                                    <span>1 min</span>
                                </span>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="vertical-box">    
                <div class="vertical-box__text">
                    <a class="info-btn"><span>Space</span></a>
                    <h3>Mercury’s 400 C Heat May Help It Make Its Own Ice</h3>
                    <p>Lorem markdownum transitque nondum, Peliaeque at poterat exegit, urbis quo;
                        tibi. Cursus mecum adit…</p>
                    <div class="vertical-box__footer">
                        <a href=""><img class="vertical-box__footer-img" src="./img/indus.png" alt=""></a>
                        <div class="vertical-box__footer-text">
                            <a class="vertical-box__footer-author" href="">John Doe</a>
                            <div class="vertical-box__footer-time">
                                <time>May 16,2020</time>
                                <span>
                                    <i class="fab fa-vk"></i>
                                    <span>1 min</span>
                                </span>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </section>
        <h2 class="h2-title mt-5 mb-5">
            Whats New?
        </h2>
        <section class="grid3">
            <div class="flex">
                <div class="background-box">
                    <img class="background-box__img" src="./img/space.jpg" alt="">
                    <a class="info-btn" href="">Physics & Mathematics</a>
                    <h2 class="background-box__title">Astronomers Detect Most Energetic Outflow From A Distant Quasar</h2>
                    <div class="vertical-box__footer">
                        <a href=""><img class="vertical-box__footer-img" src="./img/indus.png" alt=""></a>
                        <div class="vertical-box__footer-text">
                            <a class="vertical-box__footer-author" href="">John Doe</a>
                            <div class="vertical-box__footer-time">
                                <time>May 16,2020</time>
                                <span>
                                    <i class="fab fa-vk"></i>
                                    <span>1 min</span>
                                </span>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="background-box">
                    <img class="background-box__img" src="./img/space.jpg" alt="">
                    <a class="info-btn" href="">Physics & Mathematics</a>
                    <h2 class="background-box__title">Astronomers Detect Most Energetic Outflow From A Distant Quasar</h2>
                    <div class="vertical-box__footer">
                        <a href=""><img class="vertical-box__footer-img" src="./img/indus.png" alt=""></a>
                        <div class="vertical-box__footer-text">
                            <a class="vertical-box__footer-author" href="">John Doe</a>
                            <div class="vertical-box__footer-time">
                                <time>May 16,2020</time>
                                <span>
                                    <i class="fab fa-vk"></i>
                                    <span>1 min</span>
                                </span>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="flex">
                <div class="vertical-box">
                    <div class="vertical-box__img">
                        <img src="./img/1v.jpg" alt="">
                    </div>
                    
                    <div class="vertical-box__text">
                        <a class="info-btn"><span>Space</span></a>
                        <h3>Mercury’s 400 C Heat May Help It Make Its Own Ice</h3>
                        <p>Lorem markdownum transitque nondum, Peliaeque at poterat exegit, urbis quo;
                            tibi. Cursus mecum adit…</p>
                        <div class="vertical-box__footer">
                            <a href=""><img class="vertical-box__footer-img" src="./img/indus.png" alt=""></a>
                            <div class="vertical-box__footer-text">
                                <a class="vertical-box__footer-author" href="">John Doe</a>
                                <div class="vertical-box__footer-time">
                                    <time>May 16,2020</time>
                                    <span>
                                        <i class="fab fa-vk"></i>
                                        <span>1 min</span>
                                    </span>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="horizontal-box">
                    <div class="horizontal-box__img">
                        <img src="./img/1.jpg" alt="">
                    </div>
                    <div class="horizontal-box__text">
                        <h4>Using Satellites And AI To Help Fight Poverty In Africa</h4>
                        <div class="horizontal-box__footer">
                            <h6>Jane Smith</h6>
                            <time>May 15, 2021</time>
                            <span>
                                <i class="fab fa-vk"></i>
                                <span>1 min</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="horizontal-box">
                    <div class="horizontal-box__img">
                        <img src="./img/1.jpg" alt="">
                    </div>
                    <div class="horizontal-box__text">
                        <h4>Using Satellites And AI To Help Fight Poverty In Africa</h4>
                        <div class="horizontal-box__footer">
                            <h6>Jane Smith</h6>
                            <time>May 15, 2021</time>
                            <span>
                                <i class="fab fa-vk"></i>
                                <span>1 min</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="horizontal-box">
                    <div class="horizontal-box__img">
                        <img src="./img/1.jpg" alt="">
                    </div>
                    <div class="horizontal-box__text">
                        <h4>Using Satellites And AI To Help Fight Poverty In Africa</h4>
                        <div class="horizontal-box__footer">
                            <h6>Jane Smith</h6>
                            <time>May 15, 2021</time>
                            <span>
                                <i class="fab fa-vk"></i>
                                <span>1 min</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <h2 class="h2-title mt-5 mb-5">
            Whats New?
        </h2>
        <section class="grid3">
            <div class="vertical-box">
                <div class="vertical-box__img">
                    <img src="./img/1v.jpg" alt="">
                </div>
                
                <div class="vertical-box__text">
                    <a class="info-btn"><span>Space</span></a>
                    <h3>Mercury’s 400 C Heat May Help It Make Its Own Ice</h3>
                    <p>Lorem markdownum transitque nondum, Peliaeque at poterat exegit, urbis quo;
                        tibi. Cursus mecum adit…</p>
                    <div class="vertical-box__footer">
                        <a href=""><img class="vertical-box__footer-img" src="./img/indus.png" alt=""></a>
                        <div class="vertical-box__footer-text">
                            <a class="vertical-box__footer-author" href="">John Doe</a>
                            <div class="vertical-box__footer-time">
                                <time>May 16,2020</time>
                                <span>
                                    <i class="fab fa-vk"></i>
                                    <span>1 min</span>
                                </span>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="vertical-box">
                <div class="vertical-box__img">
                    <img src="./img/1v.jpg" alt="">
                </div>
                
                <div class="vertical-box__text">
                    <a class="info-btn"><span>Space</span></a>
                    <h3>Mercury’s 400 C Heat May Help It Make Its Own Ice</h3>
                    <p>Lorem markdownum transitque nondum, Peliaeque at poterat exegit, urbis quo;
                        tibi. Cursus mecum adit…</p>
                    <div class="vertical-box__footer">
                        <a href=""><img class="vertical-box__footer-img" src="./img/indus.png" alt=""></a>
                        <div class="vertical-box__footer-text">
                            <a class="vertical-box__footer-author" href="">John Doe</a>
                            <div class="vertical-box__footer-time">
                                <time>May 16,2020</time>
                                <span>
                                    <i class="fab fa-vk"></i>
                                    <span>1 min</span>
                                </span>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="vertical-box">
                <div class="vertical-box__img">
                    <img src="./img/1v.jpg" alt="">
                </div>
                
                <div class="vertical-box__text">
                    <a class="info-btn"><span>Space</span></a>
                    <h3>Mercury’s 400 C Heat May Help It Make Its Own Ice</h3>
                    <p>Lorem markdownum transitque nondum, Peliaeque at poterat exegit, urbis quo;
                        tibi. Cursus mecum adit…</p>
                    <div class="vertical-box__footer">
                        <a href=""><img class="vertical-box__footer-img" src="./img/indus.png" alt=""></a>
                        <div class="vertical-box__footer-text">
                            <a class="vertical-box__footer-author" href="">John Doe</a>
                            <div class="vertical-box__footer-time">
                                <time>May 16,2020</time>
                                <span>
                                    <i class="fab fa-vk"></i>
                                    <span>1 min</span>
                                </span>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="vertical-box">
                <div class="vertical-box__img">
                    <img src="./img/1v.jpg" alt="">
                </div>
                
                <div class="vertical-box__text">
                    <a class="info-btn"><span>Space</span></a>
                    <h3>Mercury’s 400 C Heat May Help It Make Its Own Ice</h3>
                    <p>Lorem markdownum transitque nondum, Peliaeque at poterat exegit, urbis quo;
                        tibi. Cursus mecum adit…</p>
                    <div class="vertical-box__footer">
                        <a href=""><img class="vertical-box__footer-img" src="./img/indus.png" alt=""></a>
                        <div class="vertical-box__footer-text">
                            <a class="vertical-box__footer-author" href="">John Doe</a>
                            <div class="vertical-box__footer-time">
                                <time>May 16,2020</time>
                                <span>
                                    <i class="fab fa-vk"></i>
                                    <span>1 min</span>
                                </span>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="vertical-box">
                <div class="vertical-box__img">
                    <img src="./img/1v.jpg" alt="">
                </div>
                
                <div class="vertical-box__text">
                    <a class="info-btn"><span>Space</span></a>
                    <h3>Mercury’s 400 C Heat May Help It Make Its Own Ice</h3>
                    <p>Lorem markdownum transitque nondum, Peliaeque at poterat exegit, urbis quo;
                        tibi. Cursus mecum adit…</p>
                    <div class="vertical-box__footer">
                        <a href=""><img class="vertical-box__footer-img" src="./img/indus.png" alt=""></a>
                        <div class="vertical-box__footer-text">
                            <a class="vertical-box__footer-author" href="">John Doe</a>
                            <div class="vertical-box__footer-time">
                                <time>May 16,2020</time>
                                <span>
                                    <i class="fab fa-vk"></i>
                                    <span>1 min</span>
                                </span>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}