appdirs==1.4.4
asgiref==3.3.1
asn1crypto==1.4.0
astroid==2.4.2
attrs==20.3.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
CacheControl==0.12.6
cachetools==4.1.1
caffeine-ng==3.4.2
cffi==1.14.3
chardet==3.0.4
click==7.1.2
colorama==0.4.4
configobj==5.0.6
contextlib2==0.6.0.post1
cryptography==3.2.1
cycler==0.10.0
decorator==4.4.2
distlib==0.3.1
distro==1.5.0
dj-database-url==0.5.0
Django==3.1.4
docopt==0.6.2
duplicity==0.8.16
ewmh==0.1.6
fasteners==0.15
filelock==3.0.12
future==0.18.2
gufw==20.4.0
gunicorn==20.0.4
html5lib==1.1
httplib2==0.18.1
idna==2.10
ipython==7.19.0
ipython-genutils==0.1.0
isort==5.6.4
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
kiwisolver==1.3.1
layoutswitcherlib==0.8.16
lazy-object-proxy==1.4.3
lensfun==0.3.95
LibAppArmor==3.0.0
louis==3.15.0
lxml==4.6.1
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
monotonic==1.5
msgpack==1.0.0
netsnmp-python==1.0a1
npyscreen==4.10.5
numpy==1.19.4
oauth2client==4.1.3
ordered-set==4.0.2
Pillow==8.0.1
soupsieve==2.0.1
sqlparse==0.4.1
team==1.0
tldextract==3.0.2
toml==0.10.2
traitlets==4.3.3
ueberzug==18.1.6
ufw==0.36
uritemplate==3.0.1
urllib3==1.25.10
virtualenv==20.2.2
Werkzeug==1.0.1
whitenoise==5.2.0
wrapt==1.12.1
psycopg2==2.8.6