appdirs==1.4.4
asgiref==3.3.1
asn1crypto==1.4.0
astroid==2.4.2
attrs==20.3.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
CacheControl==0.12.6
cachetools==4.1.1
caffeine-ng==3.4.2
cffi==1.14.3
chardet==3.0.4
click==7.1.2
colorama==0.4.4
configobj==5.0.6
contextlib2==0.6.0.post1
cryptography==3.2.1
cycler==0.10.0
decorator==4.4.2
distlib==0.3.1
distro==1.5.0
dj-database-url==0.5.0
Django==3.1.4
docopt==0.6.2
duplicity==0.8.16
ewmh==0.1.6
fasteners==0.15
filelock==3.0.12
future==0.18.2
gunicorn==20.0.4
jedi==0.17.2
Jinja2==2.11.2
numpy==1.19.4
Pillow==8.0.1
sqlparse==0.4.1
Werkzeug==1.0.1
whitenoise==5.2.0
psycopg2==2.8.6