{% extends 'app.html' %}
{% load static %}
{% block content %}

    <div class="registration mt-5">
        <div class="container">
            <div class="grid2 ">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }} message-item"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="grid-item mt-5">
                    <div class="reg-img_b">
                        <img src="{% static 'img/path504-3.png' %}" class="reg-img">
                    </div>
                   
                </div>
                <div class="grid-item">
                    <h1 class="reg-title">
                        Регистрация на Usyn
                    </h1>
                    <p class="reg-p">
                        1) Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
                        2) Vestibulum ornare mauris venenatis, tempus arcu et, convallis velit. <br>
                        3) Vivamus sagittis mi non velit pellentesque ultrices. <br>
                        4) Quisque accumsan augue quis neque tincidunt, quis mattis magna interdum. <br>
                        5)Nulla at ipsum at lacus rhoncus ultrices scelerisque ac orci in plact tellus sit amet semper mollis. <br>
                        6) Fusce quis nulla sed metus semper laoreet. <br>
                        7) Nam cursus libero non ullamcorper vulputate.
                    </p>
                </div>
            </div>
            <div class="grid1 mt-5">
                <form method="POST" class="form" action="{% url 'register' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <!-- <label for="id_username">{{form.username.label}}</label> -->
                        {{form.username}}
                    </div>
                    <div class="form-group">
                        <!-- <label class="label" for="id_username">{{form.email.label}}</label> -->
                        {{form.email}}
                    </div>
                    <div class="form-group">
                        <!-- <label class="label" for="id_username">{{form.password1.label}}</label> -->
                        {{form.password1}}
                    </div>
                    <div class="form-group">
                        <!-- <label class="label" for="id_username">{{form.password2.label}}</label> -->
                        {{form.password2}}
                    </div>
                    <div class="btns-group">
                        <button type="submit" class="btn">Далее</button>
                        <a class="btn btn-inline" href="{% url 'login' %}">Войти</a>
                    </div>
                   
                </form>
                {{form.errors}}
                <!-- end of form -->
            </div>
        </div>
        
    </div>

                            
                      
                       
    
    <script src="js/plugins.min.js"></script>
    <script src="js/app.js"></script>
{% endblock %}