$black:#2d3748;
$grey:#718096;
$white-grey:#a0aec0;
$background:linear-gradient( 0deg#edf2f7,#f8f8f8);
$blue:#667eea;
$blue-grey:#a3bffa;
$yellow:#fefcbf;
$green:#c6f6d5;
$bluyer:#bee3f8;
$purple:#e9d8fd;
